===============================================================================
This is a cloudstation VM dedicated to work with IvyNet Client.

It based on Ubuntu and includes docker, rust and cargo packages.

* The ivynet (client) and eigenlayer-cli binaries are in {{ ivynet_client_install_path }}/bin directory.
* The eigenda-operator-setup is cloned to subdirectory of {{ ivynet_client_install_path }}.

Additionally,
* g1,
* g2
files are in the {{ ivynet_client_install_path }}/resources directory.
===============================================================================
