[Unit]
Description=Ivynet Scraper {{ network }} service
After=network.target

[Service]
ExecStart={{ ivynet_backend_path_install }}/bin/scraper
EnvironmentFile={{ ivynet_backend_path_secrets }}/env.scraper
Type=simple
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target
