[Unit]
Description=Ivynet Backend service
After=network.target

[Service]
ExecStart={{ ivynet_backend_path_install }}/bin/ivynet-backend
EnvironmentFile={{ ivynet_backend_path_secrets }}/env
Type=simple
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target
