#!/bin/bash

FULL=False

while getopts f flag
do
  case "${flag}" in
    f) FULL=True;;
  esac
done

{{ ivynet_client_path_bin }}/reset_ivynet.exp


# Add Public Key
curl -u {{ ivynet_client_org_email }}:{{ ivynet_client_org_pass }} -X 'POST' \
  "https://api3.test.ivynet.dev/pubkey?public_key=0x22fC3299729676C867200d02cd5e190246D90E88&name=operator3" \
  -H 'accept: application/json'

# Set the machine ID for AVS's
MACHINE_ID=$(sudo -u ivynet awk -F\" '/machine_id/ {print $2}' /home/ivynet/.ivynet/ivy-config.toml)

if ${FULL}
then
  curl -u {{ ivynet_client_org_email }}:{{ ivynet_client_org_pass }} -X 'PUT' \
  "https://api3.test.ivynet.dev/machine/${MACHINE_ID}?avs_name=Ava&chain=holesky&operator_address=0x22fC3299729676C867200d02cd5e190246D90E88" \
  -H 'accept: application/json'

  curl -u {{ ivynet_client_org_email }}:{{ ivynet_client_org_pass }} -X 'PUT' \
  "https://api3.test.ivynet.dev/machine/${MACHINE_ID}?avs_name=EigenDA&chain=holesky&operator_address=0x22fC3299729676C867200d02cd5e190246D90E88" \
  -H 'accept: application/json'
fi
