===============================================================================
This is a cloudstation VM dedicated to work with IvyNet Client.

It based on Ubuntu and includes docker, rust and cargo packages.

* The ivynet (client) binaries are in {{ ivynet_client_path_install }}/bin directory.

Additionally, if EigenDA was included:
* The eigenda-operator-setup is cloned to subdirectory of {{ ivynet_client_path_install }}.
* g1, g2 files are in the {{ ivynet_client_path_resources }} directory.
