===============================================================================
This is a cloudstation VM dedicated to work with IvyNet Client.

It based on Ubuntu and includes docker, rust and cargo packages.

* The ivynet (client) binaries are in {{ ivynet_client_path_install }}/bin directory.

Additionally, if Eigen was selected in {{ ivynet_client_path_resources }} there are:
* g1, g2 files,
* a few avs operator repos.
