[Unit]
Description=Ivynet Scanner {{ network }} service
After=network.target

[Service]
Environment="RPC_URL={{ ivynet_scanner_rpc[network] }}"
{% if network == "holesky" %}
Environment="START_BLOCK=0"
{% elif network == "mainnet" %}
Environment="START_BLOCK=19000000"
{% endif %}
Environment="BACKEND_URL=http://localhost:50051"
ExecStart={{ ivynet_scanner_path_install }}/bin/ivynet-scanner
Type=simple
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target
