[Unit]
Description=Ivynet Backend service
After=network.target

[Service]
ExecStart={{ ivynet_backend_install_path }}/bin/ivynet-backend --db-uri postgresql://{{ ivynet_backend_postgres_user}}:{{ ivynet_backend_postgres_pass }}@localhost:5432/{{ ivynet_backend_postgres_db }}
Type=simple
Restart=always

[Install]
WantedBy=default.target
RequiredBy=network.target
